body{
    height: 100%;
    font-family: sans-serif;
}

/*Logo styling*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/*map mobile styling*/
iframe {
  position: relative;
  padding-top: 20px;
  width: 50%;
  height: 300px;
  left: 25%;
}

/*Navigation styling*/
nav {
    z-index: 1;
    width: 100%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    float: right;
}

nav label {
    display: block;
    padding: 10px 0 10px 10px;
}

nav label{
  cursor: pointer;
}

nav > label{
  font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav input, nav ul {
    display: none;
}

nav input:checked + ul {
    display: block;
}

nav ul li a{
    color: #000;
    background: #fff;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li{
    background: #fff;
}


nav ul li a:hover,
label:hover{
    background: #f44336;
}

nav ul li a:hover{
    color: #fff;
}

/*search bar styling *margin and padding for mobile*/
.search{
    display: block;
    padding: 15px 15px;
    margin-left: 10px;
    margin-top: 10px;
    background: #fff;
}

/*Bakeries Side Bar Styling*/ 
.bakeries{
    width: 80%;
    height: 410px;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 30px;
    box-sizing: border-box;
}

/*Help contadt details Styling*/
.contacts{
    width: 30%;
    height: 410px;
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 30px;
    box-sizing: border-box;
}

/*Log in form styling*/
.loginbox{
    width: 80%;
    height: 410px;
    background: #454545;
    color: #fff;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: -1;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

input[type=checkbox] + .confectionary {
 .type visibility:
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff;;
    color: black;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    color: #fff;
}

/*Register Page*/

.registerbox{
    width: 80%;
    height: 550px;
    background: #454545;
    color: #fff;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: -1;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

input[type=checkbox] + .confectionary {
 .type visibility:
}

.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff;;
    color: black;
}

.registerbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.registerbox a:hover{
    color: #fff;
}

/*Responsive desktop styling*/
@media (min-width : 850px) {
    nav label {
        display: none;
    }

    nav > ul {
        display: block;
    }

    nav > ul > li {
        display: inline-block;
        position: relative;
    }

    li > ul {
        position: absolute;
    }

    nav {
        font-family: sans-serif;
        z-index: 1;
        width: 70%;
        top: 0;
        margin-top: 5%;
    }

/*map desktop styling*/
    iframe {
      position: absolute;
      width: 40%;
      height: 400px;
      left: 55%;
      top: 30%
    }

/*desktop logo styling*/
    .logo {
      float: left;
      align: left;
      width: 13%;
      margin-left: 7%;
    }

/*desktop login form postion and size*/
    .loginbox{
        width: 40%;
        top: 62%;
    }

/*search bar margin for desktop*/
    .search{
      margin: 15px 15px;
    }
