body{
  height: 100%;
}

.logo {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


nav {
    font-family: sans-serif;
    z-index: 1;
    width: 100%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    float: right;
}

nav label {
    display: block;
    padding: 10px 0 10px 10px;
}

nav label{
  cursor: pointer;
}

nav > label{
  font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav input, nav ul {
    display: none;
}

nav input:checked + ul {
    display: block;
}

nav ul li a,
.nav-4{
    display: block;
    padding: 15px 15px;
    text-decoration: none;
}

nav ul ul li a {
    color: #000;
    background: #f1f1f1;
    border-bottom: 0.5px solid #a8a8a8;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
}

nav ul li a:hover,
label:hover{
    background: #f44336;
}

nav ul li a:hover{
    color: #fff;
}

.search{
  display: block;
  padding: 15px 15px;
  margin: 15px 15px;
}







@media (min-width : 800px) {
    nav label {
        display: none;
    }

    nav > ul {
        display: block;
    }

    nav > ul > li {
        display: inline-block;
        position: relative;
    }

    li > ul {
        position: absolute;
    }

    nav {
        font-family: sans-serif;
        z-index: 1;
        width: 70%;
        top: 0;
        margin-top: 5%;
    }

    .logo {
      float: left;
      align: left;
      width: 13%;
      margin-left: 7%;
    }


}
