
nav ul {
  background: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  position: relative;
  top: 100px;
  left: 150px;
}

section {
  margin-top: -200px;
  margin-left: 600px;
  background-color: #e0ebeb;
  display: inline-block;
  padding: 1em;
}

.guest {
  margin-top: 4px;
  margin-left: 110px;
}

.or {
  background-color: white;
  margin-left: 75px;

}

nav li a {
  padding: 25px 60px;
  display: inline-block;
  border: hidden;
  border-width: thin;
  float: left;
}

article {
  margin-top: -500px;
  margin-left: -240px;
  padding: 300px;

}

li a:hover {
  background-color: #ffcccc;
}

.left {
  float: left;
  padding: 14px;
  margin: 1em;
}

.current {
  background-color: #ffcccc;
}

.logo {
  float: left;
  align: left;
  width: 200px;
  padding: 3em;
  margin-left: 20px;
}

.separate {
  margin: 250px;
  margin-left: -20px;
}
