nav li {
  background: #ffffff;
  margin: 0em;
  padding: 1em;
  display: inline-block;
  border-style: solid;
  border-width: thin;
}

.logo {
  float: left;
  align: left;
  width: 20vw;
}
